@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --primary: #06b6d4;
  }

  @font-face {
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/fonts/playregular.woff2) format("woff2"),
      url(/src/assets/fonts/playregular.woff) format("woff");
  }
}
